#signinForm {
  align-self: center;
  position: absolute;
  top: 50%;
  left: 30%;
}

#image {
  display: block;
  position: relative;
  margin: auto;
}

#header {
  position: absolute;
  top: 13%;
  left: 30%;
  font-size: 1000%;
  text-align: center;
  margin:auto;
  color: white;
  /* -webkit-text-stroke: 4px black; */
  text-shadow:
  | 2px 2px 0 #FFFFFF,
   -1px -1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px 1px 0 #FFFFFF;
}

#form {
  margin:auto;
}
